@model Jogador 



@{
    //aqui é o titulo que fica na página, titulo de browser
    ViewData["Title"] = "Jogador";
}
<h1>TELA DE JOGADOR</h1>


<table>
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Acoes</th>
    </thead>

    <tbody>
        @*Equipe é um objeto chamar ele como tal, vira o objeto "equipe"*@
        @foreach (Jogador jogador in ViewBag.Jogador)
        {
            <tr>
                @*para utilizar um objeto dentro de uma tag HTML tem que chamar pelo arroba*@
                <td>@jogador.IdJogador</td>
                <td>@jogador.Nome</td>
                <td>@jogador.Email</td>
                <td></td>
                <td>
                    <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px">
                </td>
                <td>
                    <a asp-area="" asp-controller="Equipe" asp-action="Excluir" asp-route-id="@equipe.IdEquipe">EXCLUIR</a>
                </td>
                <td>
                    <a asp-area="" asp-controller="Equipe" asp-action="Editar" asp-route-id="@equipe.IdEquipe">EDITAR</a>
                </td>
            </tr>

        }

    </tbody>
</table>



