@model Jogador



@{
    //aqui é o titulo que fica na página, titulo de browser
    ViewData["Title"] = "Jogador";
}
<h1>TELA DE JOGADOR</h1>



<form method="post" action="@Url.Action("Cadastrar")" enctype="multipart/form-data">

    <label for="">Nome jogador</label>
    <input type="text" name="Nome" required>

    <label for="">Email</label>
    <input type="email" name="Email" required>

    <label for="">Senha</label>
    <input type="password" name="Senha" required>

    <label for="">Selecione sua equipe</label>
    <select class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

    <button type="submit">Cadastrar</button>

</form>












<table>
    <thead>
        <th>Id</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Acoes</th>
    </thead>

    <tbody>
        @*Equipe é um objeto chamar ele como tal, vira o objeto "equipe"*@
        @foreach (Jogador jogador in ViewBag.Jogador)
        {
            <tr>
                @*para utilizar um objeto dentro de uma tag HTML tem que chamar pelo arroba*@
                <td>@jogador.IdJogador</td>
                <td>@jogador.Nome</td>
                <td>@jogador.Email</td>
                <td></td>
                <td>
                    <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                </td>

            </tr>

        }

    </tbody>
</table>



